html {
    writing-mode: vertical-rl;
}

body {
    overflow-wrap: anywhere; /* 収まらない場合に折り返す */
    word-break: break-all;   /*  単語内でも折り返しを行う */
    line-break: strict;      /* 禁則処理を厳格に適用 */
    hanging-punctuation: allow-end;  /* 句読点を行末に配置 */
}
  